<div class="Twitter">
    <img class="icon"
        src="https://twitter.com/images/resources/twitter-bird-light-bgs.png"/>
    <p class="header"><span class="username">@{{username}}</span> <span
        class="time">at {{time}}</span></p>
    <p class="body">{{body}}</p>
</div>
