#main-container {
  width: 768px;
  height: 1024px;
}

#search_select {
  width: 100px;
}

#searchbar {
  width: 748px;
  height: 20px;
  padding: 10px;
  background: rgba(225,225,225,0.500)
}

#searchbar form {
  width: 220px;
  float: left;
  margin-bottom: 0px;
}

#searchbar .clickover {
  width: 20px;
  height: 20px;
  float: left;
  z-index: 21;
}

.clickover {
  
}

.clickover:hover {
  background: rgba(180,180,180,0.500);
}

.clickover form {
  position: relative;
  left: -1768px;
  background: rgba(180,180,180,0.500);
}

.clickover:hover form {
  left: 0px;
  top: 3px;
}

.twitusername {

}

.twittext {

}
